<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ejercicio 2</title>
  <link rel="stylesheet" href="css/main.css">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app-2">
    <!-- v-bind:El atributo title de este elemento, actualizalo con la message propiedad en la instancia de Vue -->
    <span v-bind:title="alert" > Coloca el mouse sobre mí durante unos segundos para ver mi título dinámicamente encuadernado!</span>
  </div>
  <script src="js/app.js"></script>
</body>

</html>